html, body {
    min-height: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
    background: #eee;
}

#mainContainer {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 100%;
    padding-top: 13px;
    max-width: 830px;
    background: #fff;
}

#mainContainer p {
    text-align: center;
    margin-top: 15px;
}

#mainContainer hr {
    margin-top: 15px;
    width: 100%;
    height: 24px;
    background: url(../img/colored_diamond.png) no-repeat center;
    border: none;
}

.icon a {
    padding: 9px !important;
}

.icon {
    opacity: 0.5;
}

.icon:hover {
    opacity: 1;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

h2 {
    padding: 0;
    margin-bottom: 15px;
    margin-top: 15px;
}

.changes {
    display: none;
}

.changes-active {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-bottom: -5px;
    padding-top: 10px;
    padding-bottom: 5px;
}
