    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ site.url }}/">Enhanced Portals</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.url }}/downloads">Downloads</a></li>
                    <li><a href="{{ site.url }}/changelog">Changelog</a></li>
                    <li><a href="{{ site.url }}/docs/">Wiki</a></li>
                    <li><a href="http://www.minecraftforum.net/forums/mapping-and-modding/minecraft-mods/1292751-enhancedportals-3">Minecraft Forums</a></li>
                    <li><a href="http://www.curse.com/mc-mods/minecraft/225921-enhanced-portals-3">Curse</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="icon"><a href="https://github.com/enhanced-portals/enhanced-portals" title="View on GitHub"><img src="/img/github.png"></a></li>
                </ul>
            </div>
        </div>
    </nav>