<ul class="sidebar-nav">
    <li class="sidebar-seperator">Getting Started</li>
    <li><a href="{{ site.url }}/docs/">Introduction</a></li>
    <li><a href="{{ site.url }}/docs/installation">Installation</a></li>
    <li><a href="{{ site.url }}/docs/configuration">Configuration</a></li>
    <li class="sidebar-seperator">Guide</li>
    <li><a href="{{ site.url }}/docs/creating-a-portal">Creating a Portal</a></li>
    <li class="sidebar-seperator">Blocks</li>
    <li class="sidebar-seperator">Items</li>
</ul>